.sidebar {
    width: 300px;
    color: rgb(36, 36, 36);

    margin: 10.75px;
    border-radius: 15px;
    box-shadow: 0 0 12px 5px rgb(234, 234, 234);

    padding: 10px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 40px;
    padding: 10px;
    border-radius: 15px;
    line-height: 40px;
    color: white;
}

.sidebar-header-service-name {
    flex: 1;
    font-size: 27px;
}

.sidebar-header-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 9999px;
    cursor: pointer;
    border: solid 1.5px rgba(255, 255, 255, 0);
}

.sidebar-header-button:hover {
    border: solid 1.5px white;
}

.sidebar-header-button-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-chat-item {
    margin: 10px;
    height: 50px;
    max-height: 50px;
    border-radius: 8px;
    padding: 10px;
}

.sidebar-chat-item:hover {
    background-color: rgb(240, 240, 240);
}

.sidebar-chat-item-pfp-container {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.sidebar-chat-item-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.sidebar-chat-item-text {
    display: inline-block;
    height: 50px;
    margin-left: 10px;
    vertical-align: bottom; /* makes sure the divs are in alignment! */
}

.sidebar-chat-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-chat-item-header-id {
    margin-left: 10px;
    color: rgb(122, 122, 122);
    font-size: 10px;
}